<div class="container">
  <div class="row">
    <div class="col-md-3 text-center">
      <%= image_tag @user.profile.avatar.url(:thumb) %>
    </div>
    <div class="col-md-6 col-md-offset-1">
      <h2><%= @user.profile.first_name %> <%= @user.profile.last_name %></h2>
      <h4><%= @user.profile.job_title %> at <%= @user.profile.company %></h4>
      <div class="well">
        <h3>About</h3>
        <%= @user.profile.about %>
      </div>
      <% if current_user.plan_id == 2 %>
      <div class="well">
        <h3>Contact</h3>
        <%= @user.profile.phone_number %>
        <%= @user.profile.contact_email %>
      </div>
      <% end %>
      
    </div>
  </div>
</div>

