<div class="home jumbotron text-center container">
  <h1>Welcome to GitConnect</h1>
  <h3>
    Connect and network with your fellow <a href="https://www.freecodecamp.com" 
    target="_blank">freeCodeCamp</a> students 
  </h3>
</div>

<% if user_signed_in? %>
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center">
        <div class="well basic">
          <h2>Profile</h2><br />
          <% if current_user.profile %>
          <%= link_to 'Edit Profile', edit_user_profile_path(user_id: current_user.id), 
                             class: "btn btn-default btn-lg btn-block signup" %><br />
          <%= link_to 'View Profile', user_path(current_user.id), 
                             class: "btn btn-default btn-lg btn-block signup" %>
          <% else %>
          <%= link_to "Create Profile", new_user_profile_path(:user_id),
                             class: "btn btn-primary btn-lg btn-block signup" %><br />
          <% end %>
        </div>
      </div>
  
      <div class="col-md-6 text-center">
        <div class="well pro">
          <h2>Community</h2><br />
          <%= link_to 'Visit the Community', users_path,
                             class: "btn btn-default btn-lg btn-block signup" %><br />
          <%= link_to 'Upgrade Subscription', '#',
                             class: "btn btn-default btn-lg btn-block signup" %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="container home-signup-links">
    <div class="row">
      <div class="col-md-6 text-center">
        <div class="well basic">
          <h2>Basic Membership</h2>
          <h3>Free</h3>
          <h3>Get basic access to the community</h3>
          <%= link_to 'Sign Up', new_user_registration_path(plan: @basic_plan.id), 
                             class: "btn btn-success btn-lg btn-block signup" %>
        </div>
      </div>
  
      <div class="col-md-6 text-center">
        <div class="well pro">
          <h2>Pro Membership</h2>
          <h3>$4.99/month</h3>
          <h3>Get complete access to the community</h3>
          <%= link_to 'Sign Up', new_user_registration_path(plan: @pro_plan.id),
                             class: "btn btn-primary btn-lg btn-block signup" %>
        </div>
      </div>
    </div>
  </div>
<% end %>